.contact {
  max-width: 83rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 2rem 2rem 4rem;
}

.contactContainer {
  display: grid;  
}

.titleText {
  margin-bottom: 2rem;
  text-align: center;
}

.contactInfo {
  display: flex;
  margin: 2rem 0;
}

.phoneIcon {
  color: #6633ff;
  margin-right: 0.75rem;
}

.contactTitle {
  font-size: 1.1rem;
  font-weight: 500;
}

.contactDesc {
  font-size: 0.95rem;
}

.contactContent {
  background-color: rgb(235, 235, 235);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 640px) {
  .contactContent {
    flex-direction: column;
  }
}
