@import "./global.css";

.container {
  max-width: 83rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 2rem;
}

.heroImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/banner.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: var(--color-main);
  height: 60vh;
}

.heroText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.heroText h1 {
  font-size: 4rem;
  text-shadow: 1px 1px 1px #000;
}

.heroText button {
  border: none;
  outline: 0;
  display: inline-block;
  margin: 1rem 0;
  padding: 0.85rem 1.5rem;
  color: white;
  background-color: var(--color-main);
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
}

.heroText button:hover {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 650px) {
  .heroText h1 {
    font-size: 2.5rem;
  }
}
