a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.blog {
  max-width: 83rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.subtitle,
.blog > h2 {
  text-align: center;
}

.subtitle {
  margin-bottom: 3rem;
}

.blogContainer {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.postContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: inherit;
  border-radius: 0.4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.postContent:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.postImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 0.4rem 0.4rem 0 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.postImage:hover {
  transform: scale(0.95)
  /* width: 110%;
  height: 280px; */
}

.postInformation {
  margin: 1rem 1rem 0;
}

.postFooter {
  margin: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.readMore {
  display: flex;
  align-items: center;
}

.readMoreIcon {
  margin-left: 0.2rem;
}

.viewMoreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  padding: 1rem 1.2rem;
  width: 160px;
  background-color: #6633ff;
  color: white;
  font-size: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: 1s;
  border: none;
}
.viewMoreIcon {
  margin-left: 4px;
}

.viewMoreButton:hover {
  background-color: rgb(90, 0, 134);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.viewMoreButton:focus {
  outline: none;
}

.viewMoreButton:hover > .viewMoreIcon {
  transform: translateX(0.5rem);
}

@media screen and (max-width: 970px) {
  .blogContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media screen and (max-width: 640px) {
  .blogContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
