@import "./global.css";

.singlePost {
  max-width: 83rem;
  width: 100%;
  height: auto;
  margin: 8rem auto 0;
  padding: 0 2rem;
}

.featuredImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .8rem;
}

.mainContent {
  margin-bottom: 1rem;
}

.mainContent > h1 {
  font-size: 2.5rem;
}

.chipElements {
  margin: 0 .1rem 0 0;
}

.post_inner p{
  margin-bottom: 1.5rem;
}

.post_inner ul{
  font-size: 1rem;
}

.post_inner ol{
  font-size: 1rem;
}

.post_inner li{
  margin: 1px 0 0 35px;
  /* display: block; */
}

@media screen and (max-width: 650px) {
  .featuredImage {
    height: 200px;
    margin-bottom: 1rem;
  }

  .breadcrumb {
    align-items: flex-start;
  }

  .breadcrumbInfo {
    display: flex;
    align-items: center;
  }

  .metadata {
    align-items: flex-start;
  }

  .metadataInfo {
    display: flex;
  }

  .metadataInfo > .bookIcon {
    padding: 2px;
  }

  .bookmarkIcon {
    align-self: flex-end;
  }

  .mainContent > h1 {
    font-size: 1.5rem;
  }
}
